.carddisplayer {
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    article {
        width: 100%;
        h1 {
            font-size: 2vh;
            text-transform: uppercase;
            text-overflow: ellipsis;
        }
        h2 {
            font-weight: 400;
            font-size: 1.8vh;
        }
        p {
            font-weight: 600;
            color: #8E92A4;
        }
        h6 {
            font-size: 2vh;
            max-width: 50%;
            overflow-wrap: anywhere;
            text-overflow: ellipsis;
        }
        
    }
}
.image_container_market{
    width: 100%;
    height: 250px;
    position: relative;
}

.market_cards_info {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.price_and_seller {
    height: auto;
    width: 100%;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}