@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* COLORSSS <3
deepgrey: #2A324B
grey: #8E92A4
white: #F2F3F8
 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;  
  color: #2A324B;
  background-color: #F2F3F8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

