.carousel {
  width: 100%;
  height: 80vh;
  background-image: url(../public/sqmarket.svg);
  background-size: contain;
  position: relative;
  .mySlide {
    display: none;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  .carousel_img {
    width: 100%;
    height: 100%;
  }
  .promo {
    position: absolute;
    bottom: 50px;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 50px;
    background-color: violet;
    width: 30%;
    max-height: 50%;
    button {
      width: 30%;
      height: 6vh;
      background-color: #2a324b;
      color: lightgray;
      border: none;
      font-size: 2.5vh;
      font-weight: 500;
    }
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #F2F3F8;
    font-weight: bold;
    font-size: 5vh;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(#2A324B, 0.8);
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
