.market_container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pages_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    h1 {
        font-size: 6vh;
        text-transform: uppercase;
    }
}
.filter_and_search {
    display: flex;
    justify-content: space-between;
    width: 80%;
    input {
        width: 25%;
        height: 25px;
    }
    .display_filter {
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
    }
}

.filter_and_cards {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}