.navbar {
  nav {
    width: 100%;
    .top_nav {
      width: 100%;
      height: 8vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #2A324B;
      color: #F2F3F8;
      .nav_logs {
        width: 20%;
        display: flex;
        justify-content: space-evenly;
      }
      .nav_search {
        width: 40%;
        height: 75%;
        background: #252c41;
        border-radius: 15px;
        display: flex;
        align-items: center;
        select {
          width: 25%;
          height: 80%;
          border: none;
          border-right: 1px solid #8E92A4;
          background: transparent;
          padding-left: 20px;
          color: #F2F3F8;
        }
        input {
          color: #F2F3F8;
          width: 70%;
          height: 100%;
          border: none;
          padding-left: 20px;
          background: transparent;
        }
      }
    }

    .bottom_nav {
      width: 100%;
      height: 6vh;
      display: flex;
      align-items: center;
      position: relative;
      .nav_dropdown{
        height: 100%;
        margin-left: 15px;
        background-color: transparent;
        border: none;
        font-size: 2vh;
        p {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .nav_button_wrapper {
        width: 5%;
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        right: 50px;
      }
    }
  }
}
