.tableau {
    width: 80%;
    text-align: left;
    tr {
        height: 15vh;
        .quantite {
            input {
                text-align: center;
          height: 50px;
          width: 45px;
          border: 2px solid lightgrey;
            }
        }
    }
    .product {
        width: 30%;
        div {
            position: relative;
            height: 12vh;
            width: 12vh;
        }
    }
    
}